---
import Layout from "../layouts/Layout.astro";
import { t } from "../../Translator";
import Sidebar from "../components/Sidebar.astro";

const locale = `; ${Astro.request.headers.get("cookie")}`?.split(`; locale=`)[1]?.split(";")[0] ||
Astro.request.headers.get("accept-language")?.split(",")[0]?.split("-")[0] ||
"en";
const cookie = `; ${Astro.request.headers.get("cookie")}`?.split(`; session=`)[1]?.split(";")[0];
let user;
if(cookie) {
    user = await fetch("https://oauth.gravitalia.com/users/@me", {
		headers: {
			"Authorization": cookie
		}
	})
	.then(res => res.json())
	.catch(_ => null)
	.then(res => res);
	
	if(user?.message) return Astro.redirect("/signin", 307);
} else {
	return Astro.redirect("/signin", 307);
}
---

<Layout title="My Account - Gravitalia Account" absolute={null}>
	<main class="min-h-screen w-full text-gray-700 dark:text-white">
		<header class="flex w-full items-center justify-between bg-white dark:bg-zinc-800 p-2">
			<div class="flex items-center space-x-2">
				<img src="/favicon.webp" class="h-8 w-8" />
				<h1 class="pl-2 text-xl font-bold">Gravitalia</h1>
			</div>

			<div class="relative pr-10 pt-2">
				<button aria-label="User menu" class="flex rounded-full text-sm focus:outline-none" onclick="document.getElementById('show-profile').classList.value.includes('hidden')?document.getElementById('show-profile').classList.remove('hidden'):document.getElementById('show-profile').classList.add('hidden')">
					<img src={user.avatar ? `https://cdn.gravitalia.com/${user.avatar}` : `https://www.gravitalia.com/avatar/${user.username[0].match(/[A-z]/) ? user.username[0].toUpperCase() : "A"}.webp`} class="h-8 w-8 rounded-full" alt="" />
				</button>

				<div class="pt-1">
					<div id="show-profile" class="hidden z-50 origin-top-right absolute right-5 mt-2 w-48 rounded-md shadow-lg py-1 bg-slate-100 dark:bg-slate-900 ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical">
						<svg class="absolute bottom-full right-4" width="22" height="13" viewBox="0 0 30 20" xmlns="http://www.w3.org/2000/svg">
							<polygon class="fill-slate-100 dark:fill-slate-900" points="15, 0 30, 20 0, 20"/>
						</svg>
						<p class="block px-4 py-2 text-sm text-gray-800 dark:text-gray-100">{t("Signed in as", locale)}<br /><strong>{ user.username }</strong></p>
						<hr />
						<div class="grid grid-cols-3 px-6 py-3">
							<a href="https://www.gravitalia.com/" class="hover:bg-gray-200 w-10 h-10 rounded-full flex justify-center items-center"><img alt="Gravitalia" src="/favicon.webp" class="w-7 h-7" draggable="false" /></a>
						</div>
						<hr />
						<span class="block px-4 py-2 text-sm text-gray-700 dark:text-white cursor-pointer"><span onclick="document.cookie = 'session=gv;expires=Thu, 01 Jan 1970 00:00:01 GMT;',window.location.reload();">{t("Logout", locale)}</span></span>
					</div>
				</div>
			</div>
		</header>
	
		<div class="flex">
			<Sidebar />

            <div class="w-full pt-20 pr-12">
                <div class="flex flex-col items-center justify-center">
                    <img alt="" src="/no_data.svg" width="200" height="200" />
                    <p class="pt-8 text-xl font-bold">{t("No authorized application", locale)}</p>
                </div>
			</div>
		</div>
	</main>
</Layout>