---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of Service - Gravitalia Account">
    <div class="w-5/6 md:w-2/3 ml-8 md:ml-96 md:pr-16 text-dark dark:text-white">
        <br />
        <h1 class="text-4xl font-bold text-center">Conditions Générales d'Utilisation</h1>
        <br />

        <p><b>Date d’effet :</b> 09/09/2022 </p>
        <br />

        <p>Bienvenue sur Gravitalia ! Ces présentes conditions régissent l’utilisation des services proposés, incluant les interfaces de programmation (API) ainsi que les obligations légales de nos deux partis.<br /><br />Gravitalia propose des lieux de partage, de mise en contact mais aussi des outils numériques ou physiques ayant pour but d’améliorer le respect de la vie privée.</p>
        <br />
        <br />

        <h2 class="underline text-3xl font-bold">Définitions</h2>
        <p class="mt-3">L’emploi des termes “nous”, “notre”, “nos” ou “Gravitalia” réfère à Gravitalia SAS, ses filiales et autres sociétés.<br />L’utilisation des termes “Utilisateur”, “vous”, “vos” font référence à vous-mêmes, en tant que personne physique ou morale tandis que l’utilisation du terme “Utilisateurs” fait référence à l’ensemble des personnes inscrites (vous incluant le cas échéant).<br />L’usage du terme “Service” (incluant “Services”) fait référence à la fois, aux sites Web et produits de Gravitalia, mais aussi aux sites Web, produits et Services de ses filiales.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Mentions légales</h2>
        <p class="mt-3">L’hébergeur de Gravitalia est Contabo sise au Aschauer Str. 32a, 81549 Munich en Allemagne.<br />L’hébergeur de contenus et sites est Cloudflare sise au 101 Townsend St, San Francisco, CA 94107, Etats-Unis.</p>
        <br />

        <div class="hidden">
            <h2 class="underline text-3xl font-bold">Qui sommes-nous ?</h2>
            <p class="mt-3">Dans l’espace économique européen (<b>EEE</b>), où est situé le siège social, le présent contrat est fait avec : <br />Gravitalia SAS, opérant sous les lois françaises, joignable à l’adresse X.<br /><span class="text-sm">En cas de contact écrit par courriel, le temps de réponse, même pour les questions légales, pourra excéder 1 mois.</span></p>
            <br />
        </div>

        <h2 class="underline text-3xl font-bold">Utilisation de nos Services</h2>
        <p class="mt-3">Les Services proposés ne sont disponibles qu’aux Utilisateurs ayant approuvés et signés ce contrat vous liant à Gravitalia ; dans le cas où vous ne souhaitez pas accepter ce contrat, il est impératif que vous fassiez la demande de suppression de compte (ou que vous ne créez pas de compte) via le Service prévu à cette effigie. Dans tous les cas, l’utilisation de nos Services doivent se faire dans le respect des lois de votre pays : vous devez être âgé de 13 ans (ou satisfaire la majorité numérique en vigueur dans votre pays). Dans le cas où vous utilisez les Services pour représenter un Etat, une société ou autre entité juridique, vous déclarez avoir les droits et être en accord avec ce présent contrat. <br /><br />Dans le cas où l’âge de l’Utilisateur est inférieur à la majorité numérique de son pays (voir ci-dessus pour plus de précisions), l’accord de ses parents (quant à la création du compte et à l’approbation de cette présente charte) ou de son tuteur légal est requis.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Ce que vous pouvez attendre de nous </h2>
        <p class="mt-3">Nous mettons en place un nombre incalculable de Services (des sites comme Gravitalia, des appareils tels qu’Anké <i>téléphones</i> ou des produits comme Bia <i>chaussures</i>) pour vous satisfaire au mieux, tout en les améliorants, et tentons d’en développer de nouveaux. Malgré nos efforts pour éviter des pannes (de Services, d’approvisionnements...), nous sommes susceptibles, comme toute entreprise, de ne pas garantir un Service sans perturbations voire une intégrité totale des données ; nous ne pourrons être tenu responsable de ces problèmes.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Ce que nous attendons de vous</h2>
        <p class="mt-3">Nous souhaitons une coexistence entre nos Utilisateurs et ce, sans vitupération, dans le respect d’autrui. Pour ce faire, vous pouvez suivre les principes suivants :</p>
        <p>- Vous conformer aux lois en vigueur dans votre pays ;</p>
        <p>- Respecter la propriété intellectuelle et l’intégrité des auteurs et personnes ; </p>
        <p>- Ne pas tenter d’interférer avec le bon fonctionnement du Service ;</p>
        <p>- Ne pas diffamer, injurier, escroquer, harceler ou usurper l’identité d’autrui ;</p>
        <p>- Ne pas poster de contenus susceptibles de détériorer l’image des personnes présentes ;</p>
        <br />
        <p>Gravitalia se réserve le droit d’anathématiser* tout Utilisateur n’ayant pas respecté les règles ci-dessus.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Conditions d’accès à l’API</h2>
        <br />
        <h3 class="font-bold ml-8 text-lg">a. Introduction</h3>
        <p class="mt-3">Nous souhaitons, bien évidemment, la bienvenue à tous les développeurs qui veulent enrichir l’expérience de nos Utilisateurs sur nos Services !<br />Pour parfaire vos idées et garantir la sécurité des données (même publiques) de nos Utilisateurs, il est important de lire ces quelques règles.</p>
        
        <br />
        <h3 class="font-bold ml-8 text-lg">b. Restrictions</h3>
        <p class="mt-3">Vous ne devez pas tenter de : (a) faire des analyses ayant pour finalité le traçage et/ou le profit ainsi que l’exploitation commerciale de ces données, (b) de tenter de faire de l’ingénieurerie inversé pour en tirer les codes sources privés (non <b>FOSS</b>), le savoir-faire ou les secrets commerciaux, (c) de reproduire, redistribuer, louer ou vendre l’accès à l’API, (d) d’accéder aux points de terminaison interdits (oauth.gravitalia.com).</p>

        <br />
        <h3 class="font-bold ml-8 text-lg">c. Respect des données</h3>
        <p class="mt-3">Dans le but d’améliorer le respect à la vie privée, nous demandons expressément le chiffrement des données confidentielles (adresse e-mail, numéro de téléphone...) dès lors qu’il est partagé SOUS ACCORD EXPRESS DE L’UTILISATEUR voire dans les cas où ces données ne servent pas un cadre de lecture explicite, le hachage de celles-ci.<br />De plus, nous vous recommandons de respecter le RPGD, le CCPA/CCRA et le LGPD. Dans le cas de grosses applications ou de lourdes utilisations, il vous sera imposé de fournir une politique de confidentialité mais aussi, et s’en s’y limiter, une preuve du respect des réglementations, une liste exhaustive des données sauvegardées ainsi qu’une preuve d’identité.</p>

        <br />
        <h3 class="font-bold ml-8 text-lg">d. Sanctions</h3>
        <p class="mt-3">En cas de refus d’obtempérer à ces règles, des sanctions pourront être appliquées à votre encontre tel que la suspension de votre application, de votre compte Utilisateur voire le recours aux tribunaux compétents.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Votre compte</h2>
        <p class="mt-3">Pour profiter des Services de manière continuelle, sans interruption ou blocage, vous devrez peut-être disposer d’un compte. La sécurité de ce compte vous incombe, vous devez fournir un mot de passe fort (cf. <a class="text-blue-500 hover:text-blue-700" href="https://www.cnil.fr/fr/mot-de-passe">Mot de passe, CNIL</a>), vérifier si vos informations ont été compromises, etc. En cas de perte, vol ou préjudice lié à votre compte, nous ne pourrons pas être tenus responsables.<br />De plus, il vous sera peut-être demandé des informations pour vous contacter (numéro de téléphone, adresse e-mail), des informations visant l’authentification (mot de passe) ou l’identification (nom d’utilisateur) ; pour plus d’informations, rendez-vous sur la page de confidentialité.<br />Vous êtes responsable du maintien à jour de vos coordonnées (adresse e-mail, par exemple), dans le cas d’une impossibilité de vous joindre, nous supposerons que toutes les informations ont bels et bien été envoyés ; nous supposons également que les communications effectuées depuis votre compte ou les coordonnées de celui-ci ont été effectuées par vous.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Notre contenu</h2>
        <p class="mt-3">Nous pouvons autoriser l’utilisation de notre contenu pour des plateformes tierces mais nous conservons tous les droits de propriété intellectuelle. Vous n’êtes pas autorisé à masquer ou à modifier les logos et marques.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Autre contenu</h2>
        <p class="mt-3">Nous pouvons mettre à disposition du contenu qui ne nous appartiennent pas par le biais de plusieurs Services. Nous ne pouvons déléguer l’utilisation de contenu. Le contenu n’est pas altéré et peut ne pas refléter l’opinion de Gravitalia.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Résiliation</h2>
        <p class="mt-3"><span class="underline"><b>Par votre volonté :</b></span> vous êtes libre d’arrêter d’utiliser les Services fournis et ce, sans raison et à tout moment. Vous pouvez supprimer votre compte, ce qui anonymisera les données présentes (cf. Politique de Confidentialité) ou de le désactiver, si l’option vous est proposée, ce qui permet de mettre en suspens toute opération de traitement de vos informations personnelles ; cette désactivation n’entraîne pas la résiliation du présent contrat.</p>
        <p class="mt-3"><span class="underline"><b>Par Gravitalia :</b></span> nous nous réservons le droit de suspendre* votre compte ou votre accès (à un Service, un site, un logiciel...) avec ou sans préavis et à notre discrétion.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Services fournis “EN L'ÉTAT”</h2>
        <p class="mt-3">Les Services sont fournis “en l’État”. Si vous résidez en dehors des EEE ou du Royaume-Uni, vous acceptez que l’accès aux Services sont à vos propres risques et périls.<br />NOUS (SOCIÉTÉ, AFFILIÉS) DÉCLINONS, DANS TOUTES LES MESURES PERMISES PAR LES LOIS, TOUTE GARANTIE EXPRESSE OU IMPLICITE QUANT À LA QUALITÉ MARCHANDE. LES SERVICES SONT MIS À DISPOSITION “EN L’ÉTAT”.<br />Nous déclinons toutes responsabilités et obligations quant à la disponibilité, la sécurité et la fiabilité des Services.</p>
        <br />

        <h2 class="underline text-3xl font-bold">Limitations et responsabilités</h2>
        <p class="mt-3"><span class="text-sm">Cette section peut ne pas s’appliquer dans certains pays ou régions comme l’EEE.</span><br />Le présent contrat est soumis à la législation française.<br />Les traductions ne sont données qu’à titre informatif, en cas de litige, seule la version française des contrats (Conditions Générales d’Utilisation et Politique de Confidentialité par exemple) pourra être utilisée et seuls les tribunaux <b>français</b> pourront être saisis pour régler ce contentieux.<br />Gravitalia ne peut être tenu responsable des informations présentes sur son site ; les informations diffusées sont purement informatives et n’ont pas vocation à avoir des valeurs véridiques.<br />Gravitalia ne peut être tenu responsable des fichiers téléchargés par l’Utilisateur. Cela inclut les virus ou autres logiciels infectant les ordinateurs/serveurs.<br />Gravitalia ne peut pas garantir l’intégrité des données et ne sera pas responsable de tout dommage accessoire, spécial, exemplaire ou consécutif, de perte de bénéfices, de revenus, d’économie, d’opportunité.s commerciale.s ou de clientèle et ce, de façon directe ou indirecte.<br />NOUS NE POURRONS PAS ÊTRE TENU RESPONSABLE DES CONTENUS ET DE LA CONDUITE DES UTILISATEURS DE NOS SERVICE ET CECI DE MANIÈRE EN LIGNE OU HORS-LIGNE.<br />DANS LE CAS D’UN LITIGE, UN ACCORD À L’AMIABLE DEVRAIT ÊTRE ENTREPRIS AVANT TOUTE PLAINTE.</p>
        <br />

        <h2 class="underline font-bold">Nota bene</h2>
        <p class="mt-3">* L'anathème employé sera, par exemple, une indexation sur un registre privé de suspension de compte.<br />* La suspension entraînera directement le processus d’anonymisation des données.</p>
        <br />
    </div>
</Layout>