---
import Layout from "../../layouts/Layout.astro";
import { t } from "../../../Translator";

const locale = `; ${Astro.request.headers.get("cookie")}`?.split(`; locale=`)[1]?.split(";")[0] ||
Astro.request.headers.get("accept-language")?.split(",")[0]?.split("-")[0] ||
"en";
const cookie = `; ${Astro.request.headers.get("cookie")}`?.split(`; session=`)[1]?.split(";")[0];
if(cookie) {
    let user = await fetch("https://oauth.gravitalia.com/users/@me", {
		headers: {
			"Authorization": cookie
		}
	})
	.then(res => res.json())
	.catch(_ => null)
	.then(res => res);
	
	if(user?.username) return Astro.redirect("/");
}
---

<Layout title="Password recovering - Gravitalia Account" absolute={true}>
	<p id="ratelimit" class="hidden flex h-10 items-center justify-center bg-[#332b43] px-4 text-sm font-medium text-white sm:px-6 lg:px-8">
		<span class="underline pr-1">{t("Slow down!", locale)} </span> {t("You tried a password too many times... you were blocked for 5 minutes", locale)}
	</p>

	<div id="CF-Token-Generator" class="cf-turnstile" data-sitekey="0x4AAAAAAABG7Pcx4-fniaty" data-theme="auto" data-language={locale} data-callback="cf_callback"></div>
	<div class="mt-28 h-[60vh] xl:h-[50vh] xl:mt-40 flex justify-center items-center">
		<div class="p-11 border-[1px] -mt-10 border-none lg:border-solid border-slate-200 dark:border-zinc-800 dark:bg-zinc-800 rounded-md flex flex-col items-center space-y-3 shadow-sm">
			<br />
			<img width="30" height="30" draggable="false" alt="Gravitalia logo" src="/favicon.webp" />
			<p class="text-lg font-semibold">{t("Mot de passe oublié", locale)}</p>
			<br /><br />
            <label for="email" id="ise" class="hidden text-sm text-red-500 w-full">{t("Internal server error", locale)}</label>
			<input id="email" type="email" class="p-2 border-[1px] border-slate-500 dark:bg-zinc-900 dark:border-zinc-800 rounded w-80" placeholder={t("Email adress", locale)} />
            <p id="ok_text" class="hidden w-80 text-green-600 text-sm">Si l'addresse e-mail est valide, un email a été envoyé !</p>
			<div class="flex justify-between w-full">
				<a href="/signin" rel="prefetch" id="signin" class="text-sm px-2 py-2 bg-indigo-50 dark:bg-opacity-0 dark:border-none outline-none border border-indigo-100 rounded text-indigo-500 dark:text-white font-medium hover:bg-indigo-400 dark:hover:bg-indigo-500 hover:text-white transition-colors duration-200">
					{t("Sign in", locale)}
				</a>
				<button id="next" onclick="next()" class="text-sm px-4 py-2 outline-none rounded bg-[#332b43] dark:bg-indigo-500 dark:hover:bg-indigo-600 font-medium text-white disabled:opacity-75 transition-colors duration-200 disabled:cursor-not-allowed">
					{t("Obtenir le code", locale)}
				</button>
			</div>
		</div>
	</div>
</Layout>

<script lang="js">
	let cf_token = "";

    function next() {
        document.getElementById("next").disabled = true;

        fetch("https://oauth.gravitalia.com/login/password", {
            method: "POST",
            headers: {
				"Content-Type": "application/json",
				"CF-Turnstile-Token": cf_token,
			},
			body: JSON.stringify({
				email: document.getElementById("email")["value"],
			})
        }).then(res => res.json())
        .then(res => {
            if(!res.error) {
                document.getElementById("email").classList.add("hidden");
                document.getElementById("ok_text").classList.remove("hidden");
                document.getElementById("next").classList.add("hidden");
                document.getElementById("signin").classList.add("hidden");
            } else {
                document.getElementById("ise").classList.remove("hidden");
                document.getElementById("next").disabled = false;
            }
        });
    }
	
	function cf_callback(token) {
		cf_callback = token;
	}
</script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
