---
const locale = `; ${Astro.request.headers.get("cookie")}`?.split(`; locale=`)[1]?.split(";")[0] ||
Astro.request.headers.get("accept-language")?.split(",")[0]?.split("-")[0] ||
"en";

import { t } from "../../Translator";

export interface Props {
	title: string;
	absolute: boolean;
}

const { title, absolute = false } = Astro.props;
---

<!DOCTYPE html>
<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.webp" />
		<meta name="description" content={t("description", locale)} />
		<meta name="theme-color" content="#332b43" />
		<meta name="robots" content="index, follow" />
		<meta name="og:type" content="website" />
		<meta name="og:image" content="/favicon.webp" />
		<meta name="og:title" content={title} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			"dark" === localStorage.mode && document.documentElement.classList.add("dark"),localStorage.mode ||(window.matchMedia("(prefers-color-scheme: dark)").addListener(function (e) {e.matches ? document.documentElement.classList.add("dark") : document.documentElement.classList.remove("dark");}),window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches && document.documentElement.classList.add("dark"));
			"serviceWorker" in navigator&&window.addEventListener("load",()=>{navigator.serviceWorker.register("/sw.js")});
		</script>
		<script src="/gsecurity.js" is:inline></script>
		<noscript><p class="flex h-10 items-center justify-center bg-[#332b43] px-4 text-sm font-medium text-white sm:px-6 lg:px-8"><span class="underline pr-1">We need JavaScript </span> for your safety and the safety of others. Please turn it back on or change your browser.</p></noscript>
	</head>
	<body class="dark:bg-zinc-900 dark:text-white">
		<slot />

		<div class={absolute ? "absolute bottom-0 w-full p-3 bg-stone-100 dark:bg-zinc-800 flex justify-center items-center space-x-3 text-[14px] font-medium text-[#666] dark:text-white" : "bottom-0 w-full p-3 bg-stone-100 dark:bg-zinc-800 flex justify-center items-center space-x-3 text-[14px] font-medium text-[#666] dark:text-white"}>
			<a href="/" rel="prefetch" class="hover:underline underline-offset-1 cursor-pointer">Home</a>
			<a href="https://blog.gravitalia.studio/" target="_blank" class="hover:underline underline-offset-1 cursor-pointer">Blog</a>
			<a href="https://jobs.gravitalia.studio/" target="_blank" class="hover:underline underline-offset-1 cursor-pointer">Jobs</a>
			<a href="https://support.gravitalia.studio/" target="_blank" class="hover:underline underline-offset-1 cursor-pointer">Support</a>
			<a href="/terms" rel="prefetch" class="hover:underline underline-offset-1 cursor-pointer">Terms</a>
			<a href="/privacy" rel="prefetch" class="hover:underline underline-offset-1 cursor-pointer">Privacy</a>
		</div>
	</body>
</html>